<!Doctype HTML>
<html> 
<title>La Fabriq</title>
<head>
</head>
<link rel='stylesheet' href='http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css'>  
<link type="text/css" rel="stylesheet" href="stylesheet2.css"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<body>
<div id ="bandeau">
  <div class="row">
    <div class="small-12 large-6 large-centered columns">
      <div class = "row collapse">
        <div id= "contenu-bandeau">
          <div class="small-8 columns" >
            <p>Suivez-nous et Likez-nous</p>
          </div>
          <div class="small-2 columns">
            <a href="https://www.facebook.com/lafabriq20" class="heightfix">
              <img src="/Logo_FACEBOOK.png" width="30" height="30" class="heightfix">
            </a>
          </div>
          <div class="small-2 columns">
            <a href="https://twitter.com/lafabriqnet" class="heightfix">
              <img src="/Logo_TWITTER.png" width="30" height="30" class="heightfix">
            </a>
         </div>
        </div> 
      </div>     
    </div>
  </div>
</div>

  </div>
    
  <div class="slide orange" id="annonce">
    
    <div class="row">
      <div class="small-centered large-centered" >

        	<img src="/logo_fabriq_blanc_DEFONCE.png" width="150" height="150">

        	<h1>Bienvenu sur le Réseau de Compétences Solidaires de La Fabriq</h1>

        	<h3>Pour mieux vous accueillir, nous rebatissons notre site</h3>

      </div>
      <a href="#video"><img src="/TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

    </div>
  </div>
  
  <div class="slide vert" id="video">
    
    <div class="row">
      <div class="small-centered large-centered" >

        
         <iframe width="100%" height="315"  src="http://player.vimeo.com/video/35804890?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        

        <h2>Découvrez nous en 1’30</h2>

      </div>
      <a href="#fabcompetences"><img src="/TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

    </div>
  </div>

  <div class="slide orange" id="fabcompetences">
    
    <div class="row">
      <div class="small-centered large-centered" >

          <h1>Venez échanger 
          <h2>et</h2>
          <h1>valoriser vos compétences</h1>
          <a href="http://goo.gl/maps/loHLb" data-tooltip=" Cliquez pour afficher le Google Map." id="lien">
            <div id="deuxieme_partie" >
            </div>
              <h3>tous les seconds vendredis du mois à partir de 18h30</h3>
              <h3>dans les murs du Centre social La 20ème Chaise,</h3>
              <h3>Métro Père-Lachaise.</h3>
            
          </a>

      </div>
      <a href="#reseau_sociaux"><img src="/TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

    </div>
  </div>



<div class="slide vert" id="reseau_sociaux">
    
  <div class="row" >
    <div class="small-centered large-centered" >

      <h2>Suivez notre actualité</h2>
      <h2>et rejoignez notre communauté</h2>

    
      <div class="small-12 large-6 large-centered columns box">
        <div class = "row collapse">
          <div class="small-10 columns">
            <input type="text" placeholder=" @ Laissez nous votre email">
          </div>
          <div class="small-2 columns">
            <a href="#" class="button postfix">Go</a>
          </div>
        </div>
      </div>
   
    <a href="#projet_associatif"><img src="/TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

   
  </div>
</div>
  

<div class="slide orange" id="projet_associatif">
    
    <div class="row">
      <div class="small-centered large-centered" >

          <h1>Explorez notre univers</h1>
          

      </div>
      <div class="small-centered large-centered" id="rapport">

        <a href="/LaFabriq_ProjetAssociatif_220913.pdf"><img src="/image_rapport.png" width="158" height="223" ></a>

      </div>
      <a href="#contact"><img src="/TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

    </div>
</div>

<div class="slide vert" id="contact">
    
  <div class="row">
    <div class="small-centered large-centered" id="rdv">

      <h1>Prenez rendez-vous</h1>
      <h2>contact-lafabriq@gmail.com</h2>
    </div>

    <a href="#annonce"><img src="/TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

  </div>
</div>


</body>

