<!Doctype HTML>
<meta charset="utf-8"> 
<html> 
<title>La Fabriq</title>
<head>
</head>
<link rel='stylesheet' href='http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css'>  
<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<body>
  <div id ="bandeau">
    <div class="row">
      <div class="small-12 large-6 large-centered columns">
        <div class = "row collapse">
          <div id= "contenu-bandeau">
            <div class="small-8 columns" id="texte-bandeau">
              <strong class="show-for-small-only hide-for-medium-up" id="texte-bandeau-petit">Suivez et Likez-nous</strong>
              <strong class="show-for-medium-up" id="texte-bandeau-grand">Suivez et Likez-nous</strong>
            </div>
            <div class="small-4 columns" id="logo-FB">
              <a href="https://www.facebook.com/lafabriq20" class="heightfix">
                <img src="Logo_FACEBOOK.png" width="30" height="30" class="heightfix">
              </a>
              <a href="https://twitter.com/lafabriqnet" class="heightfix">
                <img src="Logo_TWITTER.png" width="30" height="30" class="heightfix">
              </a>
            </div>
          </div> 
        </div>     
      </div>
    </div>
  </div>


    
  <div class="slide orange" >
    
    <div class="row">
      <div class="small-centered large-centered" id="annonce" >

          <img src="logo_fabriq_blanc.png" width="200" height="200">

          <p class="grand">Bienvenue sur le Réseau Solidaire de Compétences de La Fabriq</p>

          <p class="moyen">Pour mieux vous accueillir, nous rebatissons notre site</p>

      </div>
      
      <a href="#video"><img src="TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

    </div>
  </div>
  
  <div class="slide vert" id="video">
    
    <div class="row">
      <div class="small-12 large-6 large-centered columns" >

        <div class="flex-video">
          <iframe src="http://player.vimeo.com/video/35804890?title=0&amp;byline=0&amp;portrait=0" width="60%" height="50%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
       
        </div> 
      </div> 
      <div class="small-12 large-8 large-centered columns" >
        <p class="grand">Découvrez nous en 5min</p>

      </div>
      <a href="#fabcompetences"><img src="TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

    </div>
  </div>

  <div class="slide orange" id="fabcompetences">
    
    <div class="row">
      <div class="small-centered large-centered" >

          <p class="grand">Venez échanger</p>
          <p class="moyen">et</p>
          <p class="grand">valoriser vos compétences</p>
          <a href="http://goo.gl/maps/loHLb" data-tooltip=" Cliquez pour afficher le Google Map." id="lien">
            <div id="deuxieme_partie" >
              <p class="moyen">tous les seconds vendredis du mois à partir de 18h30</p>
              <p class="moyen">dans les murs du Centre social La 20ème Chaise,</p>
              <p class="moyen">Métro Père-Lachaise.</p>
              <img src="map_white.png" target="_blank" width="60" height="60" alt="Some Image" /> 
            </div>
          </a>

      </div>
      <a href="#reseau_sociaux"><img src="TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

    </div>
  </div>



<div class="slide vert" id="reseau_sociaux">
    
  <div class="row" >
    <div class="small-12 large-8 large-centered columns" id="logo-RS">
      <div class = "row collapse">
        <div class="small-6 columns" id="logo-rs1">
          <a href="https://www.facebook.com/lafabriq20" >
          <img src="Logo_FACEBOOK.png" width="100" height="100" >
          </a>
        </div>
        <div class="small-6 columns" id="logo-rs2">
          <a href="https://twitter.com/lafabriqnet" >
          <img src="Logo_TWITTER.png" width="100" height="100" >
          </a>
        </div>
      </div>
    </div>
    <div class="small-centered large-centered" id="rs-texte">

      <p class="grand">Suivez notre actualité</p>
      <p class="moyen">et</p>
      <p class="grand">rejoignez notre communauté</p>

    </div>
      <div class="small-12 large-6 large-centered columns box">
        <p class="trespetit">Inscription à la newsletter</p>
        <div class = "row collapse">
          <div class="small-10 columns">
            <form method="post" action="/email">
              <input name="email" type="text" placeholder=" @ Laissez nous votre email">

            </div>
            <div class="small-2 columns">
              <button type="submit" name="submit" class="button postfix">Valider</button>
            </div>
          </form>
        </div>
      </div>
   
    <a href="#projet_associatif"><img src="TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

   
  </div>
</div>
  

<div class="slide orange" id="projet_associatif">
    
    <div class="row">
      <div class="small-centered large-centered" >

          <p class="grand">Explorez notre univers</p>
          

      </div>
      <div class="small-centered large-centered" id="rapport">

        <a href="LaFabriq_ProjetAssociatif_220913.pdf" target="_blank"><img src="image_rapport.png" width="174" height="245" ></a>

      </div>
      <a href="#contact"><img src="TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

    </div>
</div>

<div class="slide vert" id="contact">
    
  <div class="row">
    <div class="small-centered large-centered" id="rdv">

      <p class="grand">Prenez rendez-vous</p>
      <p class="grand">info@lafabriq.net</p>
    </div>

    <a href="#annonce"><img src="TACHEdeSCROLL_GOOD.png" width="125" height="125" id="link_to_next_page" alt="Some Image" /></a>

  </div>
</div>


</body>

